<!-- 質問内容 -->
<div style="border:solid 10px;margin:20px">
    <div></div>
    <div>
        <p><%= @question.title%></p>
        <p><%= @question.detail%></p>
    </div>
</div>

<!-- コメント一覧 -->
<% @comments.each do |c|%>
<div style="border:solid 1px;margin:20px">
    <div>
        <p>投稿者：<%= c.username %></p>
        <p><%= c.title %></p>
        <p><%= c.detail %></p>
    </div>
</div>
<% end %>

<!-- コメント追加-->
<% if logged_in? %>
<div style="border:double 10px;margin:20px;">
    <%= form_for @add, :method => :post, :url => {controller: :comments, action: :create} do |c| %>
    <div>
        <%= c.label :title, "タイトル:" %></br>
        <%= c.text_field :title, :size=>"150" %>
    </div>
    <div>
        <%= c.label :detail, "詳細:" %></br>
        <%= c.text_area :detail,  :size=>"150x10" %>
    </div>
    <div>
        <%= c.submit "送信" %>
    </div>
    <% end %>
</div>
<% else %>
<div>
    投稿をするにはログインする必要があります。
    <%= link_to "ログイン", "/login" %>
</div>
<% end %>