<div class = "container">
    <br>
    <p><a href="/area/"><%= params[:country]%></a> > <%= params[:city]%></p>
    <h2>掲示板一覧</h2>
    <% @questions.each do |q| %>
        <div  class = "question card">
            <p><%= q.username %>の質問 最新更新: <%= q.updated_at%></p>
            <h3><%= link_to q.title, {controller: :questions, action: :detail, area: params[:area], country: params[:country], city: params[:city], question_id: q.id} %></h3>
            <span><%= link_to q.detail, {controller: :questions, action: :detail, area: params[:area], country: params[:country], city: params[:city], question_id: q.id} %>
            <br><%= link_to "詳細", {controller: :questions, action: :detail, area: params[:area], country: params[:country], city: params[:city], question_id: q.id} %></span> 
        </div>
    <% end %>

    <div class="card card-body question-card">
    <% if logged_in? %>
        <legend>掲示板を作成</legend>
        <%= form_for @add, :method => :post, :url => {controller: :questions, action: :create, area: params[:area], country: params[:country], city: params[:city]} do |q|%>
            <div>
                <%= q.label :title, "タイトル:" %><br>
                <%= q.text_field :title, :class=>"form-control" %>
            </div>
            <div>
                <%= q.label :detail, "詳細:" %><br>
                <%= q.text_area :detail, :class=>"form-control" %>
            </div>
            <div>
                <%= q.submit "送信", :class=>"btn btn-primary question-button" %>
            </div>

            <% end%>
    <% else %>
            掲示板を作成するにはログインする必要があります。
            <%= link_to "ログイン", "/login" %>
    <% end %>

    </div>
</div>