<body>
    <div class = "auth-wrapper">
        <div class ="auth">
            <h2 class="auth__title">ユーザー登録</h2>
            <p>ユーザー名とパスワードを記入してください。</p>
            <% if flash[:error_message] %>
                <div><%= flash[:error_message] %></div>
            <% end %>

            <%= form_tag("/register", method: :post) do %>
                <%= text_field_tag :username, '', class: "auth__input", placeholder: "ユーザー名" %> </br>
                <%= password_field_tag :password, '', class: "auth__input", placeholder: "パスワード" %></br>
                <%= submit_tag "登録を完了する", class: "auth__button", onClick: "OnRegister()" %>
            <% end %>
        </div>
    </div>
</body>